.panel-heading {
  background-color: #4885ed !important;
  color: #ffffff !important;
  border-bottom: solid 4px #efefef !important; }
  .panel-heading small {
    color: #ffffff; }

.panel-default {
  border: solid 4px #efefef !important;
  shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }

.input-group-addon {
  background-color: #4885ed !important;
  color: #ffffff !important;
  border: solid 1px #4885ed; }

.lead {
  color: #4885ed !important; }

.btn-primary {
  background-color: #4885ed; }

#note-required {
  color: #777; }

.page-header {
  color: #4885ed; }

.panel-body {
  padding: 50px; }

.copyright {
  color: #777; }

/*# sourceMappingURL=styles.css.map */
