$google-green: #3cba54;
$google-yellow: #f4c20d;
$google-red: #db3236;
$google-blue: #4885ed;
$white: #ffffff;
$gray: #efefef;
$border: solid 4px $gray !important;

.panel-heading{
	background-color: $google-blue !important;
	color: $white !important;
	border-bottom: $border;
	
	small{
		color: $white
	}
}

.panel-default{
	border: $border;	
	shadow: 0 1px 3px rgba(0,0,0,.25);	
}

.input-group-addon{
	background-color: $google-blue !important;
	color: $white !important;	
	border: solid 1px $google-blue;
}

.lead{
	color: $google-blue !important;	
}

.btn-primary{
	background-color: $google-blue;
}
#note-required{
	color: #777
}

.page-header{
	color: $google-blue;
}

.panel-body{
	padding: 50px;
}

.copyright{
	color: #777;
}